<div id="gbsthumbnail" class="book_jacket"></div>

<script>
  function addTheCover(booksInfo){
    var link = '<%= image_tag("unknown_resource.png", :size => "150x150", :alt => "*") %>';
    <% unless Setting.book_jacket.unknown_resource.blank? %>
      link = '<%= Setting.book_jacket.unknown_resource %>'
    <% end %>
    for (var i in booksInfo) {
      var book = booksInfo[i];
      if (book.thumbnail_url != undefined)  {
        link = '<img src="' + book.thumbnail_url.replace('zoom=5', 'zoom=1') + '" alt="<%= manifestation.original_title %>" />';
      }
    }
    document.getElementById('gbsthumbnail').innerHTML = link;
  }
</script>

<script src="http://books.google.com/books?jscmd=viewapi&amp;bibkeys=ISBN:<%= manifestation.isbn %>&amp;callback=addTheCover"></script>
